<!DOCTYPE html>
<html>
<head>
  <title>Node.js Quiz</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
 <div class="index-container container">
  <h1>Welcome to the Node.js Quiz!</h1>
  <p>Test your knowledge of Node.js concepts.</p>
  <a class="start-btn" href="/quiz">Start Quiz</a>
 </div>
</body>
</html>